div.flex-dashboard {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;   
}

sidebar {
    display: block;
    height: 100%;
    width: 300px;
    background: linear-gradient(#001d3d, #560bad, #7209b7, #b5179e, #f72585);
}

sidebar .sidebar-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 70px;   
}

.sidebar-title img {
    width: 50px;
    height: 50px;
}

sidebar .sidebar-title h2 {
    font-size: 15px;
    color: #fff;
    margin-top: 8px;
}

sidebar .menu ul{
   list-style-type: none;
   padding-left: 0%;   
}

sidebar .menu ul li {    
    text-align: center;   
    width: 100%;
    height: 60px;      
}

sidebar .menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-style: italic;
    text-transform: uppercase;
}

sidebar .menu ul li a:hover {
    color: #f72585;
    font-size: 20px;
    text-shadow: 5px 5px 10px #fff;
}
